body {
    font-family: sans-serif;
    padding: 20px;
}

/* This style corresponds to the "Create Element" instruction */
#box1 {
    width: 100px;
    height: 100px;
    background-color: blue; /* Initial color */
    position: relative;     /* Allows it to be moved */
}